<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404 - Página No Encontrada</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <h1>Sistema de Stock</h1>
        <a id="logoutButton" th:href="@{/logout}">Logout</a>
    </header>
    
    <main>
        <section id="error-404">
            <h2>Error 404 - Página No Encontrada</h2>
            <p>La página que estás buscando no existe.</p>
			<a href="/" class="btn">Volver al Inicio</a>
        </section>
    </main>

    <footer>
        <p>TPC GRUPO 33 UNLA</p>
    </footer>
</body>
</html>
