<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Stock</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <h1>Sistema de Stock</h1>
    </header>
    
    <nav>
        <ul>
			  <li><a th:href="@{/index}">Inicio</a></li>
			  <li><a href="#">Stock</a></li>
			  <li><a th:href="@{/producto/agregar}">Agregar Productos</a></li>
			  <li><a th:href="@{/producto/listaProductos}">Productos</a></li>
			  <li><a href="#">Informe</a></li>
        </ul>
    </nav>
    
    <main>     
        <section id="add-product">
            <h2>Agregar Nuevo Producto</h2>
            <form id="addProductForm" action="#" th:action="@{/producto/nuevoProducto}"
				th:object = "${producto}" method="post">
				
                <label for="productName">Nombre del Producto:</label>
                <input type="text" id="productName" name="productName" required th:field="*{nombre}">
                
                <label for="productCodigo">Código:</label>
                <input type="text" id="productCategory" name="productCodigo" required th:field="*{codigo}">
                             
                <label for="productPrice">Precio:</label>
                <input type="number" id="productPrice" name="productPrice" required th:field="*{precio}">
                
                <button type="submit">Agregar Producto</button>
            </form>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Sistema de Stock. Todos los derechos reservados.</p>
    </footer>

    <script src="script.js"></script>
</body>
</html>