<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Stock</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <h1>Sistema de Stock</h1>
		<div id="header-links">
			<a id="carritoButton" th:href="@{/carrito/verCarrito}">Carrito</a>
		    <a id="logoutButton" th:href="@{/logout}">Logout</a>
		           
		</div>
	
    </header>
    
    <nav>
        <ul>
            <li><a th:href="@{/index}">Inicio</a></li>
			<li><a th:href="@{/producto/listaProductos}">Productos</a></li>
            <li><a th:href="@{/stock/listaStock}">Stock</a></li>
            <li><a th:href="@{/producto/agregar}">Agregar Productos</a></li>          
			<li><a th:href="@{/lote/agregarLote}">Agregar Lote</a></li>
			<li><a th:href="@{/pedido/agregarPedido}">RegistrarPedido</a></li>			
        </ul>
    </nav>
	
    <main>
        <section id="overview">
            <h2>Grupo 33</h2>
            <p>Trabajo Práctico cuatrimestral de Programación orientada a objetos 2</p>
			<h3>Integrantes :</h3>
			<p>Fernandez Alan Gabriel</p>
			<p>Rivero Nahuel</p>
			<p>Edgar Rios</p>
        </section>

    </main>

    <footer>
        <p>TPC GRUPO 33 UNLA</p>
    </footer>

    <script src="script.js"></script>
</body>
</html>